node_modules
**/node_modules
**/dist
**/coverage
.git
.github
.env
.env.*
docs
scripts
**/tests
e2e
playwright.config.ts
**/stryker.config.json
**/reports
**/.stryker-tmp
playwright-report
test-results
.husky
README.md
SECURITY.md
